<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Service_Lista_Carrera</servlet-name>
        <servlet-class>Controller.Service_Lista_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Lista_Curso</servlet-name>
        <servlet-class>Controller.Service_Lista_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Login</servlet-name>
        <servlet-class>Controller.Service_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Crea_Carrera</servlet-name>
        <servlet-class>Controller.Service_Crea_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Crea_Curso</servlet-name>
        <servlet-class>Controller.Service_Crea_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Lista_CodigoCarreras</servlet-name>
        <servlet-class>Controller.Service_Lista_CodigoCarreras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Borra_Curso</servlet-name>
        <servlet-class>Controller.Service_Borra_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Borra_Carrera</servlet-name>
        <servlet-class>Controller.Service_Borra_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Edita_Carrera</servlet-name>
        <servlet-class>Controller.Service_Edita_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Edita_Curso</servlet-name>
        <servlet-class>Controller.Service_Edita_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_Logout</servlet-name>
        <servlet-class>Controller.Service_Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Service_Lista_Carrera</servlet-name>
        <url-pattern>/Service_Lista_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Lista_Curso</servlet-name>
        <url-pattern>/Service_Lista_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Login</servlet-name>
        <url-pattern>/Service_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Crea_Carrera</servlet-name>
        <url-pattern>/Service_Crea_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Crea_Curso</servlet-name>
        <url-pattern>/Service_Crea_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Lista_CodigoCarreras</servlet-name>
        <url-pattern>/Service_Lista_CodigoCarreras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Borra_Curso</servlet-name>
        <url-pattern>/Service_Borra_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Borra_Carrera</servlet-name>
        <url-pattern>/Service_Borra_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Edita_Carrera</servlet-name>
        <url-pattern>/Service_Edita_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Edita_Curso</servlet-name>
        <url-pattern>/Service_Edita_Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_Logout</servlet-name>
        <url-pattern>/Service_Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
